body {
    padding: 0;
    margin: 0;
    background-color: brown;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 2px solid blue;
}

@media (min-width:1200px) {
    .box1 {
        background-color: red;
        width: 1200px;
        height: 1200px;
    }
}

@media (min-width:1024px) and (max-width:1199px) {
    .box1 {
        background-color: rgb(255, 255, 255);
        width: 1024px;
        height: 1024px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .box1 {
        background-color: rgb(0, 0, 0);
        min-width: 768px;
        max-width: 1023px;
        height: 768px;
    }
}

@media(min-width:480px) and (max-width:767px) {
    .box1 {
        background-color: royalblue;
        width: 480px;
        height: 480px;
    }
}

@media(min-width:320px) and (max-width:480px) {
    .box1 {
        background-color: rgb(225, 65, 212);
        width: 320px;
        height: 320px;
    }
}