* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
}

.nav {
    margin: 0 auto;
    padding-top: 20px;
    font-size: large;
}

.nav a {
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding-left: 60px;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 50px;
    font-family: 'Righteous', cursive;
    padding-left: 80px;
}

.button {
    padding: 15px;
    margin-right: 60px;
}

button {
    padding: 10px 40px;
    border-radius: 35px;
}

button:hover {
    background-color: red;
    color: white;
}

.nav a span:hover {
    color: yellow;
    border-bottom: 2px solid white;
    border-width: 4px;
}


/* Main section 1 part  */

.first_part {
    background-color: mediumturquoise;
}

.containerFirst {
    /* width: 1200px; */
    margin-left: 200px;
}

.container {
    width: 1000px;
    height: auto;
    margin-left: 200px;
}

.container1 {
    background-color: salmon;
    border: 4px solid red;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-top: 30px;
}

.container2 {
    background-color: mediumaquamarine;
    border: 4px solid red;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-top: 30px;
}

.container3 {
    background-color: skyblue;
    border: 4px solid red;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-top: 30px;
}

.box1 {
    background-color: darkgray;
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    margin-left: 90px;
    margin-top: 10px;
}

.box2 {
    background-color: burlywood;
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    margin-left: 90px;
    margin-top: 10px;
}

.box3 {
    background-color: rgb(190, 171, 171);
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    margin-left: 90px;
    margin-top: 10px;
}

h2 {
    margin: 0px 380px;
    padding: 20px 0px;
}


/* -----------Main Section 2 Part------------- */

.cont {
    border: 4px solid red;
    width: 300px;
    height: 400px;
    margin: 0px 310px;
    margin-top: 20px;
    overflow: scroll;
    /* margin-top: 40px; */
    position: relative;
}

.sameer {
    border: 4px solid red;
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 600px;
    top: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .box2 .change {
    background-color: black;
}

.second_part {
    background-color: cadetblue;
}


/* -------------Main 3 Part -------- */

.third_part {
    background-color: rgb(240, 147, 27);
}

.boxes {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
}

.boxes .packet {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: wheat;
    border: 4px solid black;
}

.third_part h4 {
    text-align: center;
}


/* ----------Main 4 part----------- */

.fourth_part {
    background-color: rgb(153, 104, 30);
}

.fourth_part .boxx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    /* background-color: blue;   */
}

.boxx .carton {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    margin: 5px;
    background-color: palevioletred;
    border: 4px solid red;
    width: 100px;
    height: 100px;
}


/* -------------Main % part Started------------- */

.fifth_part .all {
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
    /* background-color: blue;   */
}

.fifth_part {
    background-color: darkgoldenrod;
}

.all .carton {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    margin: 5px;
    background-color: palevioletred;
    border: 4px solid red;
    width: 100px;
    height: 100px;
}

#cart {
    width: 500px;
    height: 100px;
}

.sixth_part {
    background-color: rgb(33, 76, 114);
}

.last {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.last .carton {
    display: flex;
    justify-content: center;
    margin: 50px;
    align-items: center;
    line-height: 50px;
    background-color: palevioletred;
    border: 4px solid red;
    width: 150px;
    height: 200px;
}


/* -----------footer-------------- */

footer {
    border-top: 5px solid rgb(60, 7, 252);
    background-color: black;
    margin-top: 5%;
}

.foters {
    color: white;
    height: 150px;
}

.foters .c {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

h4 {
    font-size: x-large;
    font-weight: 800;
}

.foot {
    background-color: black;
    display: flex;
}

.foot a {
    padding: 3px;
    background-color: white;
    margin-left: 20px;
}

.foot,
i {
    display: flex;
    justify-content: center;
    padding: 4px;
}